<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YOUADME | HOME</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/bootstrap/bootstrap.min.css')}}">
  <!-- fontawesome css-->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/fontawesome/css/all.min.css')}}">

  <!-- stylesheet css-->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.css')}}">

  <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='assets/images/favicon.png')}}">
</head>

<body>
  <!-------------Header ---------------------->
  {% include './commonpages/header.html' %}
  <!-------------Header End ---------------------->

  <!-------------details image---------------------->
  <div class="conatainer-fluid desktopview">

    <div class="image-container detailsbanner-image">
      <img src="{{url_for('static',filename='assets/images/blog.png')}}" class="w-100" alt="">
    </div>
    <div class="details-title mt-5">
      <h1> YouAdMe ជួយអាជីវកម្មលក់រាយនៅកម្ពុជាឲ្យចាប់ផ្តើមការលក់តាមប្រព័ន្ធអនឡាញ</h1>
    </div>
  </div>
  <div class="conatainer-fluid mobileview">

    <div class=details-title>
      <h1> YouAdMe ជួយអាជីវកម្មលក់រាយនៅកម្ពុជាឲ្យចាប់ផ្តើមការលក់តាមប្រព័ន្ធអនឡាញ</h1>
    </div>
    <div class="image-container detailsbanner-image">
      <img src="{{url_for('static',filename='assets/images/blog.png')}}" class="w-100" alt="">
    </div>
  </div>


  <div class="blog-publish-date">
    <div class="image-container ">
      <img src="{{url_for('static',filename='assets/images/favicon.png')}}" alt="">
      <p class="text"> YOUADME - 21 APR 2020</p>
    </div>
  </div>
  <div class="container blog-contain">
    <p>កូវីដ១៩ បានធ្វើឲ្យអ្នកលក់រាយក្នុងស្រុករងផលប៉ះពាល់ខ្លាំង ហើយអាជីវកម្មមួយចំនួនកំពុងប្រឈមនឹងការបិទទ្វារ។</p>
    <p>ស្ថិតនៅក្នុងស្ថានភាពមួយមិនប្រាកដប្រជាបែបនេះ តើអ្នកលក់រាយនៅតែមានភាពឆ្លាតវៃ ហើយអាចផ្លាស់ប្តូរខ្លួនឯង
      ដើម្បីជម្នះឧបសគ្គនេះបានយ៉ាងដូចម្តេចខ្លះ?</p>
    <p>ចម្លើយ គឺថា: ត្រូវផ្លាស់ប្តូរយុទ្ធសាស្រ្តទីផ្សារអាជីវកម្មរបស់ខ្លួន។ រក្សាទំនាក់ទំនងជានិច្ចក្នុងអំឡុងពេល
      និងក្រោយកូវីដ១៩!</p>
    <p>ដោយហេតុនេះហើយ ក្រុមហ៊ុន YouAdMe មានគំនិតផ្តួចផ្តើមមួយ ដើម្បីគាំទ្រដល់អាជីវកម្មលក់រាយក្នុងស្រុកនោះគឺ
      ការនាំមកនូវគំនិតនៃការធ្វើទីផ្សារអាជីវកម្មតាមប្រព័ន្ធអនឡាញ និងការផ្លាស់ប្តូរទៅលើការបង្កើតឆានែលលក់
      ក៏ដូចជាលំហូរប្រាក់ចំណូលរបស់ពួកគេ ដែលខុសប្លែកពីការធ្វើយុទ្ធសាស្រ្តទីផ្សារតាមបែបប្រពៃណី។</p>
    <p>កម្មវិធីពាណិជ្ជកម្មតាមប្រព័ន្ធអេឡិចត្រូនិក YouAdme គាំទ្រដល់អាជីវកម្មលក់រាយក្នុងស្រុក និងបណ្តាសហគ្រាសនានា
      ដើម្បីពង្រីកការផ្សព្វផ្សាយអាជីវកម្មរបស់ខ្លួនតាមបែបឌីជីថល និងដើម្បីពង្រីកទីផ្សារក្នុងស្រុកផងដែរ
      ជាមួយនឹងការប្រើប្រាស់កម្មវិធីពាណិជ្ជកម្មតាមប្រព័ន្ធអេឡិចត្រូនិកដែលមានច្រើនឆានែលនេះ ដោយឥតគិតថ្លៃ។ </p>
    <p>ជាមួយនឹងគំនិតផ្តួចផ្តើមនេះដែរ ក្រុមការងារផ្នែកបច្ចេកវិទ្យារបស់ក្រុមហ៊ុន <b>YouAdMe</b>
      នឹងជួយអាជីវកម្មទាំងអស់ក្នុងការរៀបចំ ក៏ដូចជាបែងចែកហាងលក់តាមប្រព័ន្ធអេឡិចត្រូនិករបស់ពួកគេ
      ដើម្បីអាចឲ្យពួកគេលក់ផលិតផលរបស់ខ្លួនបានតាមប្រព័ន្ធអនឡាញ
      ក៏ដូចជាអាចពង្រីកការផ្សព្វផ្សាយផលិតផលរបស់ពួកគេកាន់តែច្រើនថែមទៀតនៅក្នុងប្រទេសកម្ពុជា ហើយទីផ្សារក្នុងស្រុក
      ក៏មិនចាំបាច់ត្រូវពឹងផ្អែកលើកម្មវិធីពាណិជ្ជកម្មអេឡិចត្រូនិកផ្សេងៗ ដែលជាទូទៅត្រូវចំណាយលើកម្រៃជើងសារច្រើន។</p>
    <p><b>YouAdMe</b> ដែលជាកម្មវិធី <b>app</b> សេវាស្វ័យប្រតិបត្តិការ
      កំពុងសម្លឹងឃើញពីការទទួលបានជោគជ័យលើការផ្សព្វផ្សាយពាណិជ្ជកម្មនៅក្នុងរយៈពេលចុងក្រោយនេះ
      ដោយសារកម្មវិធីផ្សព្វផ្សាយតាមទូរស័ព្ទមួយនេះបានជួយបំពេញនូវភាពខ្វះខាតផ្សេងៗរវាងម្ចាស់ផលិតផល និងអតិថិជនខ្លួន
      នៅក្នុងយុគសម័យឌីជីថល តាមរយៈសកម្មភាពផ្សព្វផ្សាយពីមាត់មួយទៅមាត់មួយរបស់អតិថិជនពិតប្រាកដ។</p>
    <h6>លោក <b>Bernard T</b> ដែលជាអគ្គនាយក និងជាសហស្ថាបនិករបស់ក្រុមហ៊ុន <b>YouAdMe</b> បានមានប្រសាសន៍ថា:</h6>
    <p>យើងចង់ជួយពួកគេអនុវត្តដំណោះស្រាយថ្មីមួយចំនួននៅក្នុងគ្រាដ៏លំបាកនេះ ដើម្បីឲ្យអាជីវកម្មពួកគេអាចរស់រានបាន
      ពីព្រោះពួកគេមិនអាចបន្តអាជីវកម្មរបស់ខ្លួនបានដូចធម្មតាបានទេ
      ម្ល៉ោះហើយអាជីវកម្មខ្លះត្រូវគិតពិចារណាឡើងវិញអំពីមធ្យោបាយដែលពួកគេអាចបម្រើអតិថិជនខ្លួនបាន
      ហើយអាជីវកម្មណាដែលអាចសម្របខ្លួនបានល្អទៅនឹងកាលៈទេសៈប្រែប្រួលនេះ អាចមានឱកាសខ្ពស់ឆ្លងផុតស្ថានភាពបច្ចុប្បន្ននេះ
      និងកាន់តែរឹងមាំជាងមុនទៀតនៅពេលដែលសេដ្ឋកិច្ចងើបឡើងវិញ។</p>
    <div class="blog-wrapper">

      <div class="row justify-content-center align-items-center">
        <div class="col-md-8 mt-3">
          <div class="image-container ">
            <img src="{{url_for('static',filename='assets/images/blog-1.png')}}" class="w-100" alt="">
          </div>
        </div>
        <div class="col-md-8 mt-5">
          <div class="image-container ">
            <img src="{{url_for('static',filename='assets/images/blog-2.png')}}" class="w-100" alt="">
          </div>
        </div>
      </div>
    </div>
    <p>លើសពីនេះទៅទៀត ឃ្លាំងទំនិញ YouShop ដែលជាបុត្រសម្ព័ន្ធរបស់ក្រុមហ៊ុន YouAdMe
      ក៏នឹងត្រូវបានផ្តល់ជូនជាទីតាំងបន្ទាន់មួយផងដែរ សម្រាប់អ្នកលក់រាយដែលមិនមានលទ្ធភាពបង់ថ្លៃឈ្នួលហាង
      គឺពួកគេអាចស្តុកទុកទំនិញពួកគេជាបណ្តោះអាសន្ន
      ក្នុងខណៈពេលដែលពួកគេកំពុងរៀបចំការបើកដំណើរការហាងលក់តាមប្រព័ន្ធអេឡិចត្រូនិករបស់ខ្លួន។</p>
    <h6>សេវាកម្មដែលផ្តល់ដោយក្រុមហ៊ុន YouAdMe មានដូចជា:</h6>
    <ul class="ml-5">
      <li>អភិវឌ្ឍន៍មាតិកា (ឧ. ថតរូបផលិតផល ការសរសេរមាតិកា ការវេចខ្ចប់ផលិតផល)</li>
      <li>ចុះបញ្ជីផលិតផល (ឧ. ការបង្កើតហាងលក់ទំនិញ ការអាប់ឡូតមាតិកា ការតុបតែងហាង) </li>
      <li>គ្រប់គ្រងឆានែល (ឧ. ការចាត់ថ្នាក់ទំនិញ និងតារាងតម្លៃ
        ការរៀបចំផែនការយុទ្ធសាស្រ្តសម្រាប់កម្មវិធីផ្សព្វផ្សាយ/ប្រ៉ូម៉ូសិន</li>
      <li>គោលការណ៍បំពេញបន្ថែម (ឧ. ដំណើរការស្តុកទុកផលិតផលក្នុងឃ្លាំង
        ការអនុវត្តគោលការណ៍បំពេញបន្ថែមដោយកម្មវិធីពាណិជ្ជកម្មអេឡិចត្រូនិក ការរួមបញ្ចូលជាមួយនឹងក្រុមហ៊ុនដឹកជញ្ជូនទំនិញ)
      </li>
      <li>ផ្សព្វផ្សាយ និងប្រ៉ូម៉ូសិន (ឧ. ការបង្កើតកម្មវិធីផ្សព្វផ្សាយទីផ្សារច្រើនឆានែល
        ការបង្កើតកម្មវិធីផ្សព្វផ្សាយទីផ្សារក្នុង/ក្រៅហាង)</li>
      <li>សិក្ខាសាលាបណ្តុះបណ្តាល ដើម្បីបង្កើនសមត្ថភាពពាណិជ្ជកម្មអេឡិចត្រូនិក</li>
      <li>ដំណោះស្រាយទូទាត់ប្រាក់ងាយស្រួល</li>
    </ul>
    <p>ក្រុមហ៊ុនដែលចាប់អារម្មណ៍ចូលរួមជាមួយកម្មវិធីពាណិជ្ជកម្មតាមប្រព័ន្ធអេឡិចត្រូនិករបស់ក្រុមហ៊ុន YouAdMe
      អាចទាក់ទងតាមរយៈ <a href="mailto:enquries@youadme.com">enquries@youadme.com</a></p>

    <p>អ្នកលក់រាយនីមួយៗអាចចុះឈ្មោះជាមួយកម្មវិធីពាណិជ្ជកម្មតាមប្រព័ន្ធអេឡិចត្រូនិកបានតែមួយប៉ុណ្ណោះ។
      រាល់ការចុះឈ្មោះទាំងអស់នឹងត្រូវបានវាយតម្លៃដោយក្រុមហ៊ុន YouAdMe Co.,Ltd</p>
  </div>



  <!-------------Footer---------------------->
  {% include './commonpages/footer.html' %}
  <!-------------Footer End ---------------------->



  <!--jquery js  -->
  <script src="{{url_for('static',filename='assets/js/jquery-3.5.1.min.js')}}"></script>
  <!-- bootstrap js -->
  <script src="{{url_for('static',filename='assets/vendor/bootstrap/bootstrap.bundle.js')}}"></script>

  <!-- main js -->
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>
</body>

</html>