<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YOUADME | {{title}}</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/bootstrap/bootstrap.min.css')}}">
  <!-- fontawesome css-->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/fontawesome/css/all.min.css')}}">

  <!-- stylesheet css-->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.css')}}">
  <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='assets/images/favicon.png')}}">
</head>

<body>
  <!-------------Header ---------------------->
  {% include './commonpages/header.html' %}
  <!-------------Header End ---------------------->

  <!-------------Main Section---------------------->
  {% block content %}
  <div class="container-fluid main-section desktopview">
    <div class="row">
      <div class="col-lg-6">
        <div style="padding:9%;">
          <h1 class="title">
            Turn Customer's
            Reviews To Revenue
          </h1>
          <p class="mt-5">
            It’s time you get on board with thousands of businesses who grow
            their sales through customers’ recommendation.
          </p>
          <div class="button pt-5">
            <a href="#contact" class="btn">Sign Up Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="{{url_for('static',filename='assets/images/y1.png')}}" alt="" class="w-100">
      </div>
    </div>
  </div>
  <div class="container-fluid main-section mobileview">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title">
          Turn Customer's
          Reviews To Revenue
        </h1>
      </div>
      <div class="col-lg-12">
        <div class="image-container">
          <img src="{{url_for('static',filename='assets/images/y1.png')}}" alt="" class="w-100">
        </div>
      </div>
      <div class="col-lg-12">
        <div style="padding:9%;">
          <p class="mt-5">
            It’s time you get on board with thousands of businesses who grow
            their sales through customers’ recommendation.
          </p>
          <div class="button pt-5">
            <a href="#contact" class="btn">Sign Up Now</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-------------Main Section End---------------------->
  {% endblock %}
  <!-------------Story Section---------------------->
  <div class="container story-section">
    <div class="row">
      <div class="col-lg-6 col-md-6 p-5">
        <iframe width="120%" height="550px"
          src="https://www.youtube.com/embed/fpYlgkZL4cI?autoplay=0&amp;mute=0&amp;controls=1&amp;loop=0&amp;origin=https%3A%2F%2Fbernardteo.wixsite.com&amp;playsinline=1&amp;enablejsapi=1&amp;widgetid=1"
          style="margin-left: -10%;"></iframe>
      </div>
      <div class="col-lg-6 col-md-12 pt-5 pl-5">
        <h1 class="title">Our Story</h1>
        <p class="text">YouAdMe, derives from the word You Advertise Me. "You", the consumer,
          helps "Me",
          the business owner to advertise the business’s products and services
          from your own experience.</p>
        <p class="text">YouAdMe Social E-Commerce application started with the
          intention of helping businesses to grow from better understanding
          their consumers’ thoughts and needs through their reviews, at the
          same time help drive attention towards the business via peer recommendations.
          Consumers are given the opportunity to show love to the business they
          support while spreading the goodness
          within their circle and help the growth of business revenue.</p>
        <div class="button ">
          <a href="#contact" class="btn">Sign Up Now</a>
        </div>
      </div>
    </div>
  </div>

  <!-------------Story Section End---------------------->



  <!-------------Rating Section ---------------------->
  <div class="container rating-section pt-5">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title">
          How Review Ratings Affect <br>
          Retail Business Success
        </h1>
      </div>
      <div class="row pt-5">
        <div class="col-lg-5 order-lg-3">
          <img src="{{url_for('static',filename='assets/images/rating1.png')}}" alt="" class="w-100">
        </div>
        <div class="col-lg-7 order-lg-1">
          <div class="row rating">
            <div class="col-lg-6 col-md-12">
              <img src="{{url_for('static',filename='assets/images/rating2.png')}}" alt="" class="w-50">
            </div>
            <div class="col-lg-6 col-md-12">
              <p class="text">92% consumers are more likely to look for products and services when they hear
                recommendations from their own circle</p>
            </div>
          </div>
          <div class="row rating">
            <div class="col-lg-6 col-md-12">
              <img src="{{url_for('static',filename='assets/images/rating3.png')}}" alt="" class="w-50">
            </div>
            <div class="col-lg-6 col-md-12">
              <p class="text">84% consumers put trust on reviews they read online as much as personal recommendations.
              </p>
            </div>
          </div>
          <div class="row rating">
            <div class="col-lg-6 col-md-12">
              <img src="{{url_for('static',filename='assets/images/rating4.png')}}" alt="" class="w-50">
            </div>
            <div class="col-lg-6 col-md-12">
              <p class="text">76% consumers are more likely to pay you a visit if they hear it from their peers rather
                than an advertisement they see.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-------------Rating Section End---------------------->

  <!-------------Solution Section---------------------->
  <div class="container story-section desktopview">
    <div class="row">
      <div class="col-lg-6 p-5">
        <img src="{{url_for('static',filename='assets/images/effective.png')}}" alt="" class="w-100">
      </div>
      <div class="col-lg-6 pt-5 pl-5">
        <h1 class="title">How YouAdMe can bring you effective solution?</h1>
        <ul>
          <li class="mt-5 text">assigns the most authentic peer-to-peer
            recommendations</li>
          <li class="mt-5 text">consumer advocates can spread reviews about brand
            they love</li>
          <li class="mt-5 text">combining social media and e-commerce to social
            shopping guides</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container story-section mobileview">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title">How YouAdMe can bring you effective solution?</h1>
      </div>
      <div class="col-lg-12">
        <div class="image-container">
          <img src="{{url_for('static',filename='assets/images/effective.png')}}" alt="" class="w-100">
        </div>
      </div>
      <div class="col-lg-12 pl-5">
        <ul class="list">
          <li class="mt-5 text">assigns the most authentic peer-to-peer
            recommendations</li>
          <li class="mt-5 text">consumer advocates can spread reviews about brand
            they love</li>
          <li class="mt-5 text">combining social media and e-commerce to social
            shopping guides</li>
        </ul>
      </div>

    </div>
  </div>

  <!-------------Solution Section End---------------------->

  <!-------------App Section ---------------------->
  <div class="container app-section">
    <h1 class="title">How Our App Works?</h1>
    <div class="img-top">
      <img src="{{url_for('static',filename='assets/images/app.png')}}" alt="" class="w-100">
    </div>
    <div class="img-bottom-border">
    </div>
    <div class="img-top mt-5">
      <p class="text">
        YouAdMe is a foolproof dual login application currently available on Apple App Store and Google Playstore. Small
        businesses now get the opportunity to treasure their customers with loyalty rewards in return for the reviews
        they leave from their experience which works well as an advertisement for businesses. Win-win!
      </p>
    </div>
    <div class="button mt-3">
      <a href="#contact" class="btn">Sign Up Now</a>
    </div>
  </div>
  <!-------------App Section End---------------------->


  <!-------------Achievement  Section ---------------------->
  <div class="container achivement-section mt-5">
    <h1 class="title">Our Achievements</h1>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
        <img src="{{url_for('static',filename='assets/images/achivement1.png')}}" alt="" class="w-100">
        <p class="text">Asean Pitch Fest Winner, Cambodia</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
        <img src="{{url_for('static',filename='assets/images/achivement2.png')}}" alt="" class="w-100">
        <p class="text">Asean Top 10 Innovation FinTech</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
        <img src="{{url_for('static',filename='assets/images/achivement3.jpg')}}" alt="" class="w-100">
        <p class="text mt-4">2019 Cambodia Top 3 Startup</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
        <img src="{{url_for('static',filename='assets/images/achivement4.jpg')}}" alt="" class="w-100">
        <p class="text">2019 Cambodia Best Fintech Startup</p>
      </div>
    </div>
  </div>
  <!-------------Achievement Section End---------------------->



  <!-------------Footer---------------------->
  {% include './commonpages/footer.html' %}
  <!-------------Footer End ---------------------->

  <!--jquery js  -->
  <script src="{{url_for('static',filename='assets/js/jquery-3.5.1.min.js')}}"></script>
  <!-- bootstrap js -->
  <script src="{{url_for('static',filename='assets/vendor/bootstrap/bootstrap.bundle.js')}}"></script>

  <!-- main js -->
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>
</body>

</html>