<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YOUADME | HOME</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/bootstrap/bootstrap.min.css')}}">
  <!-- fontawesome css-->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/fontawesome/css/all.min.css')}}">

  <!-- stylesheet css-->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.css')}}">

  <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='assets/images/favicon.png')}}">
</head>

<body>
  <!-------------Header ---------------------->
  {% include "./commonpages/header.html" %}
  <!-------------Header End ---------------------->

  <!--main Content-->
  <div class="container main-container">
    <div class="page-title">
      <h1>Privacy</h1>
    </div>
    <div class="content">

      <h4>PRIVACY POLICY:</h4>
      <p>Youadme Co., Ltd (Company Registration Number 00035766) (Youadme or We/we or Our/our or Us/us) is committed to
        respecting the privacy of your personal information and data.</p>
      <p>This Privacy Policy explains our policy for dealing with personal information and data that we collect through
        the following channels (here and after, the Collection Channels):</p>
      <ul class="ml-5">
        <li>
          our online properties (here and after, each a "Website"), including:
          <ul type="circle" class="ml-5">
            <li>the Youadme Platform (including the Youadme mobile application); and</li>
            <li>our websites, including, but not limited to, https://www.Youadme.com and any of our related
              websites,
              social media pages, internal websites and other mobile or tablet applications;</li>
          </ul>
        </li>

        <li>any other means through which an individual provides personal information to Youadme, including
          either
          physically or electronically; and</li>
        <li>any other means through which we lawfully collect personal information about you.</li>
      </ul>
      <p>You may contact us with any queries you may have in respect of this Privacy Policy or your personal information
        by contacting Youadme's privacy officer via email: admin@youadme.com or mail: #1106, Level 11 at Exchange Square
        Building No. 19-20, St. 106, Village 2, Sangkat Wat Phnom, Khan Daun Penh, Phnom Penh, Kingdom of Cambodia</p>
      <h4>PERSONAL INFORMATION IS IMPORTANT TO US :</h4>
      <ol type="i" class="ml-5">
        <li>We are committed to safeguarding personal privacy. We recognise that you have a right to
          control how your
          personal information is collected and used. Providing personal information is an act of trust and it is taken
          seriously. Unless given consent to do otherwise, we will only collect and use personal information as set out
          below.</li>
        <li>Throughout this Privacy Policy, we refer to your 'personal information', which means
          information or an
          opinion about an identified individual, or an individual who is reasonably identifiable whether the
          information or opinion is true or not and whether the information or opinion is recorded in a material form or
          not. Your full name, gender, date of birth, home address, home telephone number, mobile telephone number,
          email address and workplace contact details are examples of information which may constitute personal
          information. Personal information may also include information we may collect about your individual
          preferences.</li>
        <li>Youadme has developed and implemented its Privacy Policy with respect to personal information
          to reflect
          world best practice on privacy policies. These principles meet and exceed the requirements of the European
          Union’s General Data Protection Regulation (GDPR). Please refer to paragraphs 40 to 49 for additional
          information relating to the rights of European Union data subjects.</li>
        <li>In order to keep up with changing legislation and best practice, we may revise this Privacy
          Policy at any
          time without notice. We will post any changes to this Privacy Policy on our Websites, so we encourage you to
          check this Privacy Policy from time to time.</li>
        <li>In addition to the provisions of this Privacy Policy, there may also be specific and additional
          privacy and
          consent provisions that apply to certain Collection Channels. Because those specific and additional provisions
          also relate to your privacy protection, we recommend that you review them wherever they appear. In the event
          of any inconsistency between the provisions of this Privacy Policy and those other specific and additional
          provisions, the specific and additional provisions will prevail.</li>
      </ol>
      <h4>ANONYMITY AND PSEUDONYMITY :</h4>
      <ol type="1" start="6" class="ml-5">
        <li>Where practicable, we will allow you to deal with us on an anonymous or pseudonymous basis. If
          this is
          practicable, our Collection Channels will only seek information in this way. However, where it is not
          practicable for the purposes for which information is collected, we will seek the information identified
          below. It will not be practicable to deal with you on an anonymous or pseudonymous basis when we wish to send
          you direct marketing materials or need to provide you with goods or services requested by you.</li>

      </ol>
      <h4>KINDS OF PERSONAL INFORMATION THAT YOUADME COLLECTS AND HOLDS:</h4>
      <ol type="1" start="7" class="ml-5">
        <li>Personal information that may be requested includes, but is not limited to:</li>
        <ol type="1" class="ml-5">
          <li>contact information such as your full name, date of birth, telephone number, mobile telephone number,
            current and valid email address, residential address and postcode;</li>
          <li>your Apple AppStore and/or Google Play Store ID and your unique device identifier (UDID);</li>
          <li>your social media handles and login details including usernames;</li>
          <li>location information;</li>
          <li>more detailed contact preferences;</li>
          <li>sensitive information about you;</li>
          <li>photographs of you;</li>
          <li>your occupation and information regarding your professional history and professional interests;</li>
          <li>information regarding your education and qualifications;</li>
          <li>information regarding your personal interests and interesting and relevant information about you;</li>
          <li>financial details including your bank account details and PayPal details;</li>
          <li>your online behaviour and interests based on your online browsing activity;</li>
          <li>information about your preferences, interests, and experiences with our products or services. This
            information is collected in order to tailor our communications to you and continuously improve our products
            and services;</li>
          <li>information about your experience with our products or services or third party products or services listed
            on a Website;>
          </li>
          <li>your credit card details (where you purchase any products or services from us);</li>
          <li>the contact details of third parties. If you are asked to provide details about other people, please
            ensure that these individuals are happy for their details to be given to Youadme and used for the purposes
            set out in this policy (which may include using their details for marketing purposes); and</li>
          <li>any other personal information which you provide directly to us. Where you provide us with unsolicited
            personal information, we will retain this information where it falls within our primary purposes for
            collection of personal information (as stated in this privacy policy).</li>
        </ol>
      </ol>
      <ol type="1" class="ml-5">
        <li>When you use a Website, we may also collect personal information about you in the following general
          categories:</li>
        <ol type="1" class="ml-5">
          <li>usage and preference information: we collect information about how you interact with a Website, including
            the pages you visit, your preferences and settings that you choose. We may do this through the use of
            cookies and other similar technologies that uniquely identify you;</li>
          <li>device information: we may collect information about your mobile device such as the hardware model,
            operating system, preferred language, unique device identifier and mobile network; and</li>
          <li>other information: we may also collect and log information such as your IP address, access dates and
            times, browser type and pages visited when you interact with a Website.</li>
        </ol>
      </ol>
      <h4>SENSITIVE INFORMATION :</h4>
      <ol type="1" start="9" class="ml-5">
        <li>We will only collect sensitive information with your consent and where you provide it to us directly. Where
          you provide us with any sensitive information (including, but not limited to, information about your sexual
          orientation, religious beliefs, medical and/or criminal history), we will only use this information for the
          purposes stated at the time of collection will share this information with our trusted third parties in the
          manner stated on the Website or in this Privacy Policy.</li>
      </ol>
      <h4>HOW YOUADME COLLECTS AND HOLDS PERSONAL INFORMATION:</h4>
      <ol type="1" start="10" class="ml-5">
        <li>
          will only collect or monitor any personal information about you with your consent including as
          provided in this Privacy Policy or if it is otherwise lawful to do so. The only personal information
          collected by us is what has been provided to or collected by us in accordance with this Privacy Policy or
          has been provided to us lawfully by third parties including social media platforms such as Instagram and
          Facebook and Twitter and Google.
        </li>
      </ol>
      <h4>ACTIVE INFORMATION COLLECTION :</h4>
      <ol type="1" start="11" class="ml-5">
        <li>information may be collected (and combined) via our Collection Channels if you:</li>
        <ol type="1" class="ml-5">
          <li>have previously provided us with personal information prior to this Privacy Policy coming into effect,
            either directly from you personally or via a third party;</li>
          <li>sign-up and/or register to become a member of any Collection Channel;</li>
          <li>download and use a mobile and/or tablet application including the Youadme App;</li>
          <li>submit any content to or participate in any way via a Collection Channel, including engaging with other
            users or taking part in campaigns;</li>
          <li>subscribe to any newsletters, updates, alerts or news and media releases, or request launch or event
            information or information about our products or services or other information services as well as third
            party products or services;</li>
          <li>complete and submit any forms or applications to us;</li>
          <li>contact us directly in person or via any medium including mail, telephone, social media and commercial
            electronic messages (SMS (Short Message Service), MMS (Multimedia Message Service), IM (Instant Messaging)
            and email) including via the contact details listed on a Website;</li>
          <li>participate in any offers, promotions or marketing activities;</li>
          <li>interact with a Website for a specific purpose;</li>
          <li>interact with or browse a Website generally; or</li>
          <li>if you are a business we trade with, complete a credit application.</li>

        </ol>
      </ol>
      <ol type="1" class="ml-5">
        <li>Personal information is requested in order to allow you to participate in a Collection Channel, to
          facilitate or provide you with certain content, products or services, and information about such content,
          products or services (including the uploading, access to, and receipt of content on a Website, and purchase
          transactions undertaken on a Website), marketing materials (including direct marketing materials),
          newsletters, electronic newsletters (e-newsletters), news and media releases / launch information, and also to
          advise you of other Youadme or third party opportunities and products, services, offers, competitions or
          events which may be of interest. No one is obligated to provide personal information. However, failure to do
          so may result in you being unable to participate in a Collection Channel and Youadme being unable facilitate
          or provide you with certain content, products or services, products or services information, upcoming
          opportunities and promotion, competition, offer or event information or accept competition entries or other
          content from you (where applicable).</li>
        <li>We may also obtain your personal information from legitimate third party sources including social media
          channels, list brokers and other data providers or organisations that share data in circumstances where it is
          lawful and/or you have given permission for them to do so. If you are a representative of a business we trade
          with, we may also obtain your credit history information from a credit reporting body, and trade history
          information from references you provide us with.</li>
      </ol>
      <h4>CHILDREN :</h4>
      <ol type="1" start="14" class="ml-5">
        <li>The collection of personal information is neither intended for, nor directed to, persons who are under the
          age of sixteen (16) years old. Personal information will not be collected by any person who is known by
          Youadme to be under the age of sixteen (16) without the consent of a parent or legal guardian. Persons under
          age sixteen (16) may only use our Websites with the involvement and consent of a parent or legal guardian.
        </li>
      </ol>
      <h4>PASSIVE INFORMATION COLLECTION:</h4>
      <ol type="1" start="15" class="ml-5">
        <li>As with many commercial websites and mobile and tablet applications, we may also collect information which
          tells us about visitors to our Websites. For example, we may collect information about the date, time and
          duration of visits and which pages of a Website are most commonly accessed. This information is generally not
          linked to the identity of visitors, except where a Website is accessed via links in an email we have sent or
          where we are able to uniquely identify the device or user accessing a Website. By accessing a Website via
          links in an email we have sent and/or by accessing a Website generally including when you are logged into an
          account, you consent to the collection of such information where it is personal information.</li>
      </ol>
      <ol type="1" class="ml-5">
        <li>As you navigate through our Websites, certain information can be passively collected (that is, gathered
          without you actively providing the information) using various technologies, such as Unique Device Identifiers
          (UDI), cookies, Internet tags or web beacons, and navigational data collection (log files, server logs,
          clickstream). In certain circumstances, this information may be considered anonymous information or personal
          information under the Privacy Act 1988 (Cth). This is dependent on the device used and the method by which an
          individual connects to the Internet. Your Internet browser automatically transmits to the Website you are
          browsing some of this anonymous information or personal information, such as the URL of the website you just
          came from, the Internet Protocol (IP) address, the UDI (if applicable) and the browser version your device is
          currently using. Our Websites may also collect anonymous information or personal information from your device
          through cookies and Internet tags or web beacons. You may set your browser to notify you when a cookie is sent
          or to refuse cookies altogether, but certain features of a Website might not work without cookies and this may
          limit the services provided by a Website. Cookies and other technical methods may involve the transmission of
          information either directly to us or to another party authorised by us to collect information on our behalf.
        </li>
        <li>Our Websites may use and combine such passively collected anonymous information or personal information
          and/or information from various third party sources, including as described above, and may combine this
          anonymous information or personal information with other personal information collected from you to provide
          better service to Website visitors and users, customise a Website based on your preferences, compile and
          analyse statistics and trends, provide you with relevant advertising when you visit a Website or a third party
          website, and otherwise administer and improve a Website for your use. We may combine your visitor session
          information or other information collected through tracking technologies with personally identifiable
          information from time to time in order to understand and measure your online experiences and to determine what
          products, promotions and services are likely to be of interest to you. By accessing a Website, you consent to
          information about you being collected, compiled and used in this way.</li>
      </ol>
      <h4>PURPOSES FOR WHICH YOUADME COLLECTS, HOLDS, USES AND DISCLOSES PERSONAL INFORMATION:</h4>
      <ol type="1" start="19" class="ml-5">
        <li>Personal information collected will be used for the following primary purposes:</li>
        <ol type="1" class="ml-5">
          <li>For the purposes stated in a privacy collection statement on a particular Collection Channel.</li>
          <li>To maintain the functionality of a Website, including the provision of information to you relating to the
            content available on the Website and e-commerce transactions conducted via the Website.</li>
          <li>To fulfil obligations in respect of any upload terms of use, sale and purchase contract and/or any other
            contract between you and Youadme.</li>
          <li>To send you any technical, administrative or legal notices important to our Websites.</li>
          <li>To allow you to create an account, sign in and use the functionality of a particular Collection Channel
            including the Youadme App.</li>
          <li>To allow you to respond to opportunities, briefs or campaigns created by other users of a Collection
            Channel;</li>
          <li>To allow you to publish posts to your social media channels via a Collection Channel.</li>
          <li>To facilitate payments from you and to you via a Collection Channel.</li>
          <li>To provide you with information about your transactions (including uploading, access to, and receipt of
            content on a Website, and purchase transactions undertaken on a Website), content, services and products.
          </li>
          <li>To provide direct marketing materials, events, special offers, competitions and promotions in person and
            via any medium including mail, telephone and commercial electronic messages (SMS (Short Message Service),
            MMS (Multimedia Messaging Service), IM (Instant Messaging), email) or any other form of electronic,
            emerging, digital or conventional communications channel.</li>
          <li>To provide you with relevant advertising when you use our Websites or those of a third party.</li>
          <li>To maintain our relationship with you.</li>
          <li>To render services related to our company (such as after sales services and enquiries).</li>
          <li>To provide you with newsletters via mail and electronic newsletters (e-newsletters) via commercial
            electronic messages.</li>
          <li>To respond to customer enquiries, complaints and complaints handling.</li>
          <li>To improve Website and system administration.</li>
          <li>To obtain opinions or comments about products and/or services and to conduct other research and
            development.</li>
          <li>To record statistical data for marketing analysis and to conduct market research.</li>
          <li>To share personal information with our group companies, our promotional partners, trusted brands using a
            particular Collection Channel and their related bodies corporate and agents, and other trusted third parties
            in the manner described below.</li>
          <li>If you are a business we trade with, to carry on our trading relationship with you including identifying
            and contacting you, invoicing your correctly, assessing the risks of providing credit to you or your
            business, and securing and recovering any debts owed to us.</li>
          <li>Any other purpose as may be deemed reasonably necessary by Youadme in the circumstances.</li>
        </ol>
      </ol>
      <ol type="1" class="ml-5">
        <li>For the purposes described above, personal information may be shared with Youadme, Youadme promotional
          partners and their related bodies corporate, and other trusted third parties including brands and companies
          using the Youadme Platform (and their directors, servants and agents) either in Cambodia or overseas. Failure
          to provide personal information may result in Youadme being unable to provide you with certain content,
          information, upcoming opportunity, promotion, event or product information and/or accept content and promotion
          entries (where applicable).</li>
        <li>In order to operate a Website or deliver a service (including for example, processing of credit card
          payments), personal information may also be shared with Youadme companies, selected service providers and
          their related bodies corporate, and/or other trusted third parties either in Cambodia or overseas countries.
          Youadme companies, selected service providers and/or other trusted third parties may be engaged by Youadme to
          perform a variety of functions, such as legal and accounting services, data storage, fulfilling orders,
          conducting market research, processing credit card payments, assisting with promotions and providing technical
          services for our Websites. These companies may have access to personal information if needed to perform such
          functions. Your credit card details are only used to facilitate your purchase. They are not used for any other
          purpose and will never be supplied to a third party other than Youadme or our relevant service provider. If
          you are a business we trade with, we may disclose your information to debt recovery agents or credit reporting
          bodies if necessary.</li>
        <li>
          We recognise the trust with which you provide personal information, and except as stated in this Privacy
          Policy or as is otherwise lawful, such information will not be used or disclosed for any other purposes
          without consent. However, Youadme reserves the right to use or disclose any information, including personal
          information, as needed to satisfy any law, regulation or legal request, to protect the rights or property of
          Youadme, any member of the Youadme group, or any member of the public, to protect the integrity of a Website,
          to fulfil your requests, or to cooperate in any law enforcement investigation or an investigation on a matter
          of public safety.</li>
      </ol>
      <h4>CONTACT BY YOUADME:</h4>
      <ol type="1" start="23" class="ml-5">
        <li>Youadme companies (and their directors, servants and agents), Youadme promotional partners and their related
          bodies corporate or trusted third parties (including users of a Collection Channel) and other selected service
          providers and other non-Youadme companies or professionals either in Cambodia or overseas, may contact you via
          telephone, SMS (Short Message Service), MMS (Multimedia Messaging Service), IM (Instant Messaging), email,
          post or any other form of electronic, emerging, digital or conventional communications channel using the
          information provided in order to contact you in respect of the primary purposes for collection of personal
          information as stated above.</li>
        <ol type="1">
          <li>Youadme does not send advertising or marketing information without obtaining prior consent, for example
            the consent contained within this Privacy Policy, or as is otherwise lawful. If you receive communications
            from Youadme which you do not wish to receive, you may remove your name from the database in the manner
            indicated in the communication, including by utilising the functional unsubscribe/opt-out facility (if the
            communication is via commercial electronic message) or by contacting Youadme at the contact details in this
            Privacy Policy. Please allow 30 days for this request to be processed.</li>
          <li>Despite removing your name from the database from receiving future advertising and marketing information,
            Youadme may send you non-commercial “Administrative Emails”. Administrative Emails relate to a Youadme user
            account and may include administrative and transaction confirmations, requests and inquiries or information
            about a particular Youadme user account. If you do not wish to receive such communications from Youadme, you
            may remove your name from the database by utilising the functional unsubscribe facility.</li>
        </ol>
      </ol>
      <h4>ABILITY OF OTHERS TO VIEW INFORMATION :</h4>
      <ol type="1" start="26" class="ml-5">
        <li>Youadme may provide areas on a Website where you can upload user-generated content, post or provide
          information about yourself, communicate with other users including commercial users and brands, provide
          reviews for content, products and/or services, utilise functionalities that allow you to post content to your
          own social media channels, or interact with or vote on particular content. This information may be shared with
          others and may be publicly posted on our Websites, including without limitation, other social media platforms
          and other public forums in which you choose to participate. This information may become publicly available and
          may be read, collected and used by others either on our Websites or outside of our Websites. Youadme is not
          responsible for the conduct of others who may read, collect and use this information.</li>
      </ol>
      <h4>YOUR RIGHT OF ACCESS:</h4>
      <ol type="1" start="27" class="ml-5">
        <li>You have the right to access and review your personal information that may be recorded on the Youadme
          database. Information may be reviewed by contacting Youadme’s privacy officer at the contact details contained
          in this Privacy Policy. Please allow 30 days for this request to be processed.</li>
        <ol type="1">
          <li>On a case by case basis Youadme may determine that it is not required to give an individual access to
            personal information to the extent that it is lawful for Youadme to do so. If such a determination is made
            then Youadme will provide you with a written notice.</li>
          <li>Where you are seeking information held on electronic file, or where you are seeking hard copies of
            personal information, we reserve the right to charge reasonable handling/ postage fees as appropriate.</li>
          <li>With some personal information that may be stored, for example where it is held on program tapes, it is
            not practical to provide this information to you without charging an appropriate fee as we deem reasonable
            in those circumstances.</li>
        </ol>
      </ol>

      <h4>CHANGING AND DELETING THE INFORMATION WE HAVE ABOUT YOU :</h4>
      <ol type="1" start="31" class="ml-5">
        <li>
          Information contained on the database may be amended, or your preferences for contact from us changed, by
          contacting Youadme’s privacy officer at the contact details contained in this Privacy Policy. Please allow 30
          days for this request to be processed.</li>
        <ol type="1">
          <li>In the same way, a request may be made to delete personal information, and all reasonable steps to delete
            the information will be made, except where it is required for legal reasons. Deletion of information may
            result in us being unable to facilitate or provide you with information about certain transactions
            (including
            the uploading, access to, and receipt of content on a Website, and purchase transactions undertaken on a
            Website), other content, services or product information, upcoming promotion, competition or event
            information, and/or provide certain content, goods or services.</li>

          <p>
            We are not responsible for removing your personal information from the lists of any third party who has
            previously been provided your information in accordance with this policy.</p>
        </ol>
      </ol>
      <h4>STORAGE AND SECURITY OF PERSONAL INFORMATION:</h4>
      <ol type="1" start="33" class="ml-5">
        <li>Youadme will endeavour to take all reasonable steps to keep secure any personal information recorded
          (including your credit card details), and to keep this information accurate, up to date, complete and
          relevant. We ensure only those necessary have access to your personal information. Personal information is
          stored on secure servers that are protected in controlled facilities. This service may be performed on our
          behalf and data may be hosted by our selected data storage providers. In some cases these facilities may be
          overseas.</li>
      </ol>
      <h4>DISCLOSURE OF PERSONAL INFORMATION TO OVERSEAS RECIPIENTS :</h4>
      <ol type="1" start="34" class="ml-5">
        <li>In some cases, Youadme may disclose your personal information to overseas recipients. Youadme employees,
          data processors and other trusted third parties are obliged to respect the confidentiality of any personal
          information held by Youadme. However, security of communications over the Internet cannot be guaranteed, and
          therefore absolute assurance that information will be secure at all times cannot be given. Youadme will not be
          held responsible for events arising from unauthorised access to personal information.</li>
      </ol>
      <h4>YOUADME AND LINKS TO OTHER WEBSITES:</h4>
      <ol type="1" start="35" class="ml-5">

        <li>
          Our Websites may, from time to time, contain links to the websites of other organisations which may be of
          interest to you. Their inclusion cannot be taken to imply any endorsement or validation by us of the content
          of the third party website. Linked websites are responsible for their own privacy practices and you should
          check those websites for their respective privacy statements. Youadme is not responsible, nor does it accept
          any liability, for the conduct of companies linked to our Websites.</li>
        <ol type="1">
          <li>We may use third party advertisements on our Websites. All third party advertising, if paid for, is paid
            for by the relevant third party advertisers and are not recommendations or endorsements by Youadme or any of
            its affiliates. Youadme is not responsible for the content (including representations) of any third party
            advertisement on a Website. Cookies may be associated with these advertisements to enable the advertiser to
            track the number of anonymous users responding to the campaign. We do not have access to or control of
            cookies placed by third parties.</li>
        </ol>
      </ol>
      <h4>RELATED YOUADME WEBSITES:</h4>
      <ol type="1" start="37" class="ml-5">
        <li>
          All Websites operated by Youadme will adhere to this Privacy Policy. The policies on the Websites of some
          members of the Youadme group may vary, however, because of local customs, practices or laws.</li>
      </ol>
      <h4>SALE OF THE COMPANY:</h4>
      <ol type="1" start="38" class="ml-5">
        <li>If Youadme merges with, or is acquired by, another company, or sells all or a portion of its assets, your
          personal information may be disclosed to our advisers and any prospective purchaser’s adviser, and may be
          among the assets transferred. However, personal information will always remain subject to this Privacy Policy.
        </li>
      </ol>
      <h4>PROBLEMS OR QUERIES :</h4>
      <ol type="1" start="39" class="ml-5">
        <li>
          If you have any questions about our Privacy Policy, or any problems or complaints about how we have collected,
          used, stored, handled and/or disclosed your personal information, please contact our privacy officer via one
          of the following channels:</li>
      </ol>


      <p class="country">Cambodia</p>

      <div class=" row office-adress ">
        <div class="col-3">
          Address:
        </div>
        <div class="col-9">
          <div>The Privacy Officer</div>
          <div>Youadme Co., Ltd</div>
          <div>#1106, Level 11 at Exchange Square Building</div>
          <div>Village 2, Sangkat Wat Phnom, Khan Daun</div>
          <div>Penh, Phnom Penh, Kingdom of Cambodia</div>
        </div>

        <div class="col-3">Email:</div>
        <div class="col-9">
          <a href="mailto:founder@youadme.com">admin@youadme.com</a>
        </div>
      </div>
      <h4>RIGHTS OF EUROPEAN UNION DATA SUBJECTS:</h4>
      <ol type="1" start="40" class="ml-5">
        <li>Youadme complies with the European Union General Data Protection Regulation (GDPR), which comes to effect on
          25 May 2018. Paragraphs 40 to 49 of this Privacy Policy provide you with further information in relation to
          the rights of European Union data subjects under the GDPR. Paragraphs 40 to 49 of this Privacy Policy should
          be read in the context of this Privacy Policy as a whole.</li>
        <ol type="1">
          <p> The GDPR deals with Youadme's processing of “personal data”. This means any information relating to an
            identified natural person or one who is identifiable directly or indirectly, in particular by reference to
            an
            identifier such as a name, an identification number, location data, an online identifier or to one or more
            factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of
            that natural person. Personal data generally includes “personal information”, as defined above.</p>
        </ol>
      </ol>
      <h6>Legal bases of processing</h6>
      <ol type="1" start="42" class="ml-5">
        <li>Youadme processes your personal data on the legal basis of consent, which you grant when you subscribe to
          our Collection Channels or where otherwise requested. Youadme also processes your personal data in order to
          perform its obligations under its agreement with you under the Youadme Platform Terms of Use, and, where
          necessary, for the purposes of our legitimate interests as set out in this Privacy Policy, such as maintaining
          a record of rights assigned or licensed to us. To the extent that your personal data must be provided to us,
          it is a contractual and not a statutory requirement. You are not obliged to provide us with your personal
          data. However, if you fail to provide us with such personal data, you withdraw your consent or request
          restriction over or otherwise object to our processing of your personal data, we may not be able to provides
          you access to, or all functionality of, the Youadme Platform or with other products or services.</li>
      </ol>
      <h6>Purposes for the processing of personal data</h6>
      <ol type="1" start="43" class="ml-5">
        <li>Youadme will process your personal data as follows:</li>
        <ol type="1" class="ml-5">
          <li>Youadme will process the following categories of personal data that we collect from you and from third
            parties in accordance with this Privacy Policy:</li>
          <ol type="1" class="ml-5">
            <li>personal information generally, as set out in paragraph 7;</li>
            <li>personal information from your use of our Websites, including usage and performance information, device
              information and other information in accordance with paragraph 8; and</li>
            <li>sensitive information (special category data) in accordance with paragraph 9 above.</li>
          </ol>
          <li>Youadme will process your personal data for the purposes as set out in paragraph 19 above.</li>
        </ol>
      </ol>
      <h6>Recipients or categories of recipients of personal data</h6>
      <ol type="1" start="44" class="ml-5">
        <li>The recipients of the personal data are Youadme and the entities set out in paragraphs 20 to 22 above.
      </ol>
      <h6>Overseas recipients</h6>
      <ol type="1" start="45" class="ml-5">
        <li>These recipients of your personal data may be located in countries in which the privacy or data protection
          laws differ from those of the European Union, and which are not the subject of an adequacy decision by the
          European Commission, as described in paragraph 34 above. In relation to recipients in:</li>
        <ol type="1" class="ml-5">
          <li>
            Cambodia, a data protection adequacy decision has been made by the European Commission.</li>
        </ol>
      </ol>
      <h6>Withdrawing consent, or objecting or restricting to processing of personal data</h6>
      <ol type="1" start="46" class="ml-5">

        <li>You may withdraw consent at any time for the processing of your personal information, or otherwise request
          that we restrict our processing of your personal data. Please note that this does not affect the lawfulness of
          processing before you withdrew your consent or requested the restriction of the processing of your personal
          data.</li>
      </ol>
      <h6>How long we keep your personal data</h6>
      <ol type="1" start="47" class="ml-5">

        <li>Youadme will store your personal data for as long as you engage with a Collection Channel and for a period
          of time afterwards based on our document retention obligations imposed by law, to comply with audit and
          financial obligations, and in relation to personal information contained in material which you have licensed
          or assigned to us for the period of time required to enforce or establish our rights in that material.</li>
      </ol>
      <h6>Use of automated decision-making</h6>
      <ol type="1" start="48" class="ml-5">

        <li>Youadme may use automated decision-making based on your social media following to determine your eligibility
          to utilise aspects of the Youadme Platform. In addition, Youadme may use automated decision-making to:</li>
        <ol type="a" class="ml-5">
          <li>Determine which operating region to service you from.</li>
          <li>Match you to opportunities, briefs or campaigns, or participants created by other users of a Collection
            Channel.</li>
          <li>Investigate, prevent or take action regarding illegal activities and/or violations of the Youadme Platform
            Terms of Use.</li>
        </ol>
      </ol>
      <h6>Your rights under the GDPR</h6>
      <ol type="1" start="49" class="ml-5">

        <li>You have a number of rights under the GDPR. These include:</li>
        <ol type="1" class="ml-5">
          <li>to request access to your personal data from us;</li>
          <li>to request that we correct or erase your personal data;</li>
          <li>to withdraw your consent for us to use your personal data;</li>
          <li>in some circumstances, to object to the use of your personal data by us and request that we restrict our
            use of your personal data;</li>
          <li>to receive your personal data held by us, in a commonly used electronic format, or to have us transfer
            such personal data to another service provider of your choosing;</li>
          <li>to lodge a complaint in relation to our processing of your personal data with a data protection
            supervisory authority under the GDPR; and</li>
          <li>to be informed generally about the collection and use of your personal data, including where we intend to
            further process your personal data for additional purposes other than as discussed above.</li>
        </ol>
      </ol>



    </div>
  </div>

  <!-------------Footer---------------------->
  {% include "./commonpages/footer.html" %}
  <!-------------Footer End ---------------------->



  <!--jquery js  -->
  <script src="{{url_for('static',filename='assets/js/jquery-3.5.1.min.js')}}"></script>
  <!-- bootstrap js -->
  <script src="{{url_for('static',filename='assets/vendor/bootstrap/bootstrap.bundle.js')}}"></script>

  <!-- main js -->
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>
</body>

</html>