<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YOUADME | HOME</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/bootstrap/bootstrap.min.css')}}">
  <!-- fontawesome css-->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/fontawesome/css/all.min.css')}}">

  <!-- stylesheet css-->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.css')}}">

  <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='assets/images/favicon.png')}}">
</head>

<body>
  <!-------------Header ---------------------->
  {% include "./commonpages/header.html" %}
  <!-------------Header End ---------------------->

  <!--main Content-->
  <div class="container main-container">
    <div class="page-title">
      <h1>T&C</h1>
    </div>
    <div class="content">

      <h4>Definitions:</h4>

      <p>In these Terms of Use, unless the context otherwise requires, the following terms shall have the respective
        meanings indicated:</p>
      <ul class="ml-5">
        <li>"YouAdMe", "Our", "Us" or "We" refers to YouAdMe Co., Ltd. (Registration no 00035766), a company
          incorporated in Cambodia;</li>
        <li>"Brand" refers to the user logged onto the platform under the role of a merchant with the intention to
          promote their products or services, where in return, they would be providing a monetary incentive to the
          reviews subject to their approval;</li>
        <li>"Consumer" refers to the user logged onto the platform under the role of an individual to view, create and
          submit reviews of their personal opinions of the products or services, they should be of a minimum age of 18;
        </li>
        <li>"Reward" refers to a monetary incentive provided by the brand to the consumer stated in each campaign listed
          on the platform for any review that is successfully approved by the brand;</li>
        <li>"Admin Fee" refers to a fee of 10% chargeable by YouAdMe platform to the consumer by means of deduction from
          the reward;</li>
        <li>"Withholding Tax" refers to an amount of 15% to be deducted from the rewards by the brand and payable to the
          Cambodia General Department of Tax prior to making any payment to the consumer;</li>
        <li>"AdMe Wallet" refers to consumer’s account on our platform where rewards are credited after deduction of
          admin fees and withholding taxes.</li>
        <li>"Minimum Reviews Received" refer to the least amount of reviews received on a campaign by brands for the
          “Minimum Reviews Approved” to be a requirement. The minimum reviews received stands at 20.</li>
        <li>"Minimum Reviews Approved" refer to the least amount of reviews required to be approved by brand for a
          single campaign. The minimum reviews approved stands at 2.</li>
        <p>"YouAdMe Data" means YouAdMe's trade secrets, confidential information, intellectual property rights, and
          such other information that is proprietary to YouAdMe;</p>
        <li>"Social Media" refers to Facebook, Instagram, Twitter or any other online platform that we deem necessary;
        </li>
        <li>"User", " You " or "Your" refers to the person using the Website or the Mobile/Tablet Application whether as
          a visitor or as a registered party;</li>
        <li>"Website" means this website: https://www.youadme.com</li>
      </ul>
      <h4>In these Terms of Use:</h4>
      <ul class="ml-5">
        <li>words importing the plural shall, except where the context otherwise requires, include the singular and vice
          versa;</li>
        <li>references to the masculine gender shall include the feminine or neuter genders and vice versa; and</li>
        <li>references to persons shall be construed as references to an individual, firm, company, body corporate,
          statutory board, government body, incorporated body of persons, association or trust as the context may
          require, and their respective successors in title and assigns.</li>
      </ul>
      <h4>Introduction:</h4>
      <ul class="ml-5">
        <li>Your use of this Website shall be governed by these Terms of Use (the "Terms of Use"). By using the
          Services, You agree to be bound by these Terms of Use, Our Privacy Policy, and all applicable laws governing
          the same. By accessing the Website, You unconditionally accept the present Terms of Use in their entirety, and
          such Terms of Use shall become the basis of the User Agreement between You and YouAdMe.</li>
        <li>We may amend the Terms of Use at any time by posting a revised version of the Terms of Use (the "Revised
          Terms") on the Website. Such Revised Terms shall be effective immediately upon posting. You should check these
          Terms of Use periodically for, and read carefully, any such Revised Terms. Your access to or continued use of
          the Website and Services after the effective date of the Revised Terms constitutes Your acceptance of the
          Revised Terms.</li>
        <li>If a material change is made, We may notify You by email, a notice on the Website, or at such other places
          We deem appropriate. A "material change" will be determined at Our sole discretion, in good faith, using
          common sense and reasonable judgment.</li>
        <li>In the event of any conflict between the current version of these Terms of Use and any previous version(s),
          the provisions current and in effect shall prevail unless it is expressly stated otherwise.</li>
      </ul>
      <h4>Acknowledgement of Acceptance:</h4>
      <p>By clicking "Accept", "Agree", "Submit" or "Continue" when prompted in relation to these Terms of Use, You
        shall be deemed to have read, understand and agreed to the terms and conditions of the Terms of Use, such
        Funding Agreement or Participation Agreement, and such act of clicking "Accept", "Agree", "Submit" or "Continue"
        shall also constitute an acceptance.</p>
      <p>In the event of inconsistency or discrepancy between the English version and any of the other linguistic
        versions of this Term of Use, the English language version shall prevail. </p>
      <ul class="ml-5">
        <li>Under no circumstances should brands and consumers deal with each other nor have any side arrangement.</li>
        <li>User shall provide their consent that any material uploaded by them, can be used by us for marketing,
          promotion or distribution purposes.</li>
        <li>YouAdMe being a platform purely acting as the intermediary between brands and consumers, we will not be
          responsible for any misconduct by either brands or consumers.</li>
        <li>We reserve the right to block, suspend or disable any user account in the event of a breach to the terms of
          use.</li>
      </ul>
      <h4>Brands:</h4>
      <ul class="ml-5">
        <li>Payment advice would be generated reflecting the total amount of rewards to be given to the consumer. As we
          are not charging any fee to brands, no invoice would be generated.</li>
        <li>YouAdMe would be handling all withholding tax and distributing of rewards to the respective consumer whom
          review has been approved.</li>
        <li>Any charges incurred in transfer or deposit of payment for the rewards shall be borne by brands.</li>
        <li>Brands are obligated for minimum reviews approved when the campaign has achieved the minimum reviews
          submitted. In the event whereby the campaign has not reached the minimum reviews submitted, brands are not
          obligated to approve the minimum reviews.</li>
        <li>Every reward shall start from a minimum of USD 10.</li>
        <li>Upon meeting the “minimum reviews received” and no approval having been made 3 days after the end of
          campaign, YouAdMe will automatically select and approve reviews that we deem best among the list of
          submissions to fulfil the “minimum reviews approved” requirement.</li>
        <li>Upon approving any review, payment for the reward shall be made within 72 hours. YouAdMe shall have the
          right to recover any outstanding payments from You.</li>
        <li>Any campaign created is subjected to approval by YouAdMe brand management team. Approval would take up to 3
          working days.</li>
        <li>There shall be no amendment after the campaign is approved and live on the platform.</li>
      </ul>
      <h4>Consumer:</h4>
      <ul class="ml-5">
        <li>Any charges incurred in transfer or withdrawal of payment from AdMe Wallet shall be borne by consumers.</li>
        <li>Consumer understand that the submitted review may or may not be approved by brand for reward. Reward would
          be provided only to approved reviews. Subjected that consumer shares the approved review on their personal
          social media as a public post for a minimum period of 60 days.</li>
        <li>All reward is subject to admin fee and withholding tax prior to depositing into consumer’s AdMe Wallet.</li>
        <li>Consumer shall be able to withdraw from AdMe Wallet via approved panel of payment vendors stated in the
          website. Any fee incurred shall be borne by consumer.</li>
        <li>Transfer of credit between consumers via the AdMe Wallet is free of charge.</li>
        <li>Purchases made via credit from AdMe Wallet is only restricted to the panel of approved merchants listed in
          the website.</li>
        <li>Credits in the AdMe Wallet is non-interest bearing.</li>
        <li>Any review submitted after the campaign due date is not eligible for reward.</li>
      </ul>
    </div>
  </div>


  <!-------------Footer---------------------->
  {% include "./commonpages/footer.html" %}
  <!-------------Footer End ---------------------->


  <!--jquery js  -->
  <script src="{{url_for('static',filename='assets/js/jquery-3.5.1.min.js')}}"></script>
  <!-- bootstrap js -->
  <script src="{{url_for('static',filename='assets/vendor/bootstrap/bootstrap.bundle.js')}}"></script>

  <!-- main js -->
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>
</body>

</html>