{% block content %}
<section class="footer" id="contact">
  <div class="container">

    <div class="row footer-col">
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-lg-12 footer-col">
            <h1 class="title">Ask Us Anything</h1>
          </div>
          <div class="col-lg-6 pt-3">
            <input type="text" name="name" placeholder="Full Name">
          </div>
          <div class="col-lg-6 pt-3">
            <input type="text" name="email" placeholder="Email">
          </div>
          <div class="col-lg-12 pt-3">
            <textarea name="message" placeholder="Type your message here..." id="" cols="30" rows="8"></textarea>
          </div>
          <div class="col-lg-12 pt-3">
            <a type="submit" class="submit">Submit</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-lg-12 footer-col">
            <h1 class="title">Business Owners,<br> Get Demo Now!</h1>
          </div>
          <div class="col-lg-12 footer-col">
            <a class="logo-footer" href="https://www.facebook.com/YouAdMeKH/" target="_BLANK"><i
                class="fab fa-facebook"></i></a>
            <a class="logo-footer" href="https://www.instagram.com/youadmekh/" target="_BLANK"><i
                class="fab fa-instagram"></i></a>
            <a class="logo-footer" href="https://www.youtube.com/channel/UC-L7MxR-3FYukxckFqw-6bQ" target="_BLANK"><i
                class="fab fa-youtube"></i></a>
          </div>
          <div class="col-lg-12 subscribe-form">
            <input type="text" name="email" placeholder="Enter your email here*">
          </div>
          <div class="col-lg-12 pt-3">
            <a type="submit" class="submit">Subscribe</a>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6  offset-lg-6">
        <p class="text">©2020 by YouAdMe Singapore <br>
          390 Orchard Road #14-04, Palais Renaissance,<br>
          Singapore 238871</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}